#search {
    height: 8rem;
    padding: 2rem 0;
    ion-input{
        border: solid 1px #ccc;
        border-radius: 2px;
        margin-bottom: 1rem;
        --padding-start: 10px;
    }
    ion-badge {
        position: relative;
        top: 4px;
        padding: 0.2rem 0.7rem;
    }
}
ion-list#stocks {
    ion-item {
        --padding-start: 0;
        --inner-border-width: 0px;
        margin-top: 1rem;
        ion-label {
            h2 {
                font-weight: bold;
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                a {
                    text-decoration: none;
                    color: inherit;
                }
                a:focus {
                    outline: 0;
                }
                span {
                    font-size: 1rem;
                    color: #aaa;
                }
                ion-chip {
                    font-weight: normal;
                    margin-left: 1rem;
                    cursor: default;
                }
                ion-chip:hover {
                    --background: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.12);
                }
            }
        }
    }
}