<ion-header>
  <ion-toolbar>
    <ion-title>Stocks List</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <section id="search">
    <ion-input placeholder="Search stock" [formControl]="searchFormControl"></ion-input>
    Number of stocks in search: <ion-badge>{{ filteredData?.length }}</ion-badge>
  </section>
  <ion-list id="stocks">
    <ion-item *ngFor="let stock of filteredData; index as i;trackBy:trackByStock">
      <ion-label>
        <h2>
          <a href="#/stock-detail/{{stock.name}}:{{stock.market}}">{{ stock.name }}
            <span> / {{ stock.market }}</span></a>
        </h2>
        <p>{{ stock.title }} - P/E: {{stock.pe_ratio}}x</p>
        <p>VALUE: ${{stock.value}} / MarketCap: {{stock.mktcap}}B</p>
        <p>EPS: ${{stock.eps}} / YIELD: ${{stock.yield}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
