<ion-header>
  <ion-toolbar>
    <ion-title>Stocks List</ion-title>
  </ion-toolbar>
</ion-header>
<section id="search">
  <ion-input placeholder="Search stock" [formControl]="searchFormControl"></ion-input>
  Number of stocks in search: <ion-badge>{{ filteredData?.length }}</ion-badge>
</section>
<ion-content>
  <ion-list id="stocks">
    <ion-item *ngFor="let stock of filteredData; index as i;trackBy:trackByStock">
      <ion-label>
        <h2><a href="stock-detail/{{stock.name}}:{{stock.market}}">{{ stock.name }}:{{ stock.market }}</a> <ion-chip>${{stock.value}}</ion-chip></h2>
        <p>{{ stock.title }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
